################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClassDescriber/FileContentIndex/04dfe661-9d17-4cd8-841c-9d5d670cd37d.vsidx
/.vs/ClassDescriber/FileContentIndex/132f91d0-0f42-43dc-93fa-902f3ed5f774.vsidx
/.vs/ClassDescriber/FileContentIndex/326b73c1-9d49-44cf-bc55-4d1219b422f8.vsidx
/.vs/ClassDescriber/FileContentIndex/c990174d-8df6-4dbd-ac79-7a4a40c983c5.vsidx
/.vs/ClassDescriber/FileContentIndex/db0f58e0-21ec-49d5-9d67-f15d325f3369.vsidx
/.vs/ClassDescriber/FileContentIndex/3920e1bc-0437-4fc0-b490-1715834d0a0f.vsidx
/.vs/ClassDescriber/FileContentIndex/6841a034-33e3-45e1-8454-d4f1d61fbc4d.vsidx
/.vs/ClassDescriber/FileContentIndex/dbc856d8-c606-49c8-9b2e-68f819330b31.vsidx
/.vs/ClassDescriber/FileContentIndex/6b907623-ac16-4b53-a150-843c34e412f9.vsidx
/.vs/ClassDescriber/FileContentIndex/baf4ef20-10dc-4436-8dca-5dfaf6c8069b.vsidx
/.vs/ClassDescriber/FileContentIndex/e47c0f07-83c9-4bd6-af58-cb26e76c2926.vsidx
/.vs/ClassDescriber/FileContentIndex/cb5323b1-93dd-4006-b2ef-64c4afdbc885.vsidx
/.vs/ClassDescriber/FileContentIndex/b45b902d-e8e4-40ac-9eee-93956852df7e.vsidx
/.vs/ClassDescriber/FileContentIndex/fbe4d3ed-d853-49b8-9e3e-0cb20e0d53bf.vsidx
