################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClassDescriber/FileContentIndex/04dfe661-9d17-4cd8-841c-9d5d670cd37d.vsidx
